<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="UTF-8" />
		<title>Home</title>
		<link rel="stylesheet" href="app/assets/build/styles/styles.css" />
		<link rel="stylesheet" href="app/assets/css/main.css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" />
	</head>
	
	<body>
		<header>
			<div class="container-fixed cf">
				<a href="/logout" class="btn btn-small fr">Logout</a>
				<input type="text" value="" name="searchUser" id="searchUser" placeholder="Search user by Name" />
			</div>
		</header>
		
		<div class="main-body">
			<h1>Employee List</h1>

			<div class="c-user-form">
				<h3>Add New User</h3>				
				<form method="POST" id="addSnippetform">
					<div class="form-group">
						<label for="exampleInputEmail1">User Name</label>
						<input type="text" name="userName" class="form-control" id="userName" placeholder="User Name" required/>
					</div>
					<div class="form-group">
						<label for="userEmail">Email</label>
						<input type="email" name="userEmail" class="form-control" id="userEmail" placeholder="Email Address" required/>
					</div>
					<div class="form-group">
						<label for="userPhone">Contact Number</label>
						<input type="tel" name="userPhone" class="form-control" id="userPhone" placeholder="Password" required/>
					</div>
					<button type="submit" class="btn btn-small btn-primary" id="submit">Save</button>
				</form>
			</div>
			<div id="sample-data">
				
			</div>
		</div>
		
		<script src="app/assets/build/scripts/script.js"></script>
		<script src="app/components/users/user-controller.js"></script>
		
		<!-- START : TEMPLATES -->
		<script id="entry-template" type="text/x-handlebars-template">
			<ul class="c-user-list">
			{{#each users}}
			<li class="c-user-list__item c-flex-container">
			<div class="c-flex-container__item tc" style="width: 10%;">
		<a href="javascript:;" class="c-user-image"></a>
	</div>
	<div class="c-flex-container__item" style="width: 70%;">
		<h3 class="c-user-list__item__name">{{name}}</h3>
		<strong>M: </strong>{{phone}} | <strong>E: </strong>{{email}}
	</div>
	<div class="c-flex-container__item" style="width: 20%;">					
		<a href="/users/{{_id}}" class="[ btn btn-small btn-primary ] view-detail" data-user-id="{{_id}}">View Detail</a>
		<a href="javascript:;" class="[ btn btn-small btn-primary ] delete-user" data-user-id="{{_id}}">Delete</a>
	</div>
</li>
{{/each}}
</ul>
</script>
<!-- END : TEMPLATES -->

</body>

</html>
