<link rel="stylesheet" href="../app/assets/css/main.css" />

<section class="user-profile">
	<h3 class="user-profile__title">{{name}}</h3>
	<div class="user-profile__detail">
		<p><strong>Email : </strong>{{email}}</p>
		<p><strong>Phone : </strong>{{phone}}</p>
		<p class="tc"><a href="/users" class="btn btn-medium btn-primary" data-user-id="{{_id}}">Back To List View</a></p>
	</div>
</section>