<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="description" content="The HTML5 Herald">
	<meta name="author" content="SitePoint">
	<title>Users</title>
	
	<!-- Always force latest IE rendering engine (even in intranet) -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!--  Mobile Viewport
	http://j.mp/mobileviewport & http://davidbcalhoun.com/2010/viewport-metatag
	device-width : Occupy full width of the screen in its current orientation
	initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
	maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width (wrong for most sites)
	-->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Use Iconifyer to generate all the favicons and touch icons you need: http://iconifier.net -->
	<link rel="shortcut icon" href="app/assets/images/favicon.ico" />

	<!-- concatenate and minify for production -->
	<link rel="stylesheet" href="app/assets/build/styles/styles.css" />
	<link rel="stylesheet" href="app/assets/css/ionicons.css" />
	<link rel="stylesheet" href="app/assets/css/main.css" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" />
</head>

<body>
	<div class="full-bg"></div>
	<header>
		<div class="container-fixed cf c-header">
			<strong>EMPBOOK</strong>
			<input type="text" value="" name="searchUser" id="searchUser" placeholder="Search user by Name" />
			<a href="/logout" class="btn btn-small tr">Logout</a>
		</div>
	</header>
<form enctype="multipart/form-data" action="/users/upload" method="POST" id="formUploadAvatar">
  <input type="file" name="upload_avatar" />
  <input type="submit" value="Upload Image" name="submit" />
</form>
	<div class="main-body">
		<div id="sample-data">

		</div>
	</div>

	<script src="app/assets/build/scripts/script.js"></script>
	<script src="app/components/users/user.controller.js"></script>

	<!-- START : TEMPLATES -->
	<script id="entry-template" type="text/x-handlebars-template">
		<ul class="c-user-list">
			{{#each users}}
			<li class="c-user-list__item c-flex-container">
				<div class="c-flex-container__item tc" style="width: 10%;">
					<a href="javascript:;" class="c-user-image"><img src="app/assets/images/avatar-1.jpg"/></a>
				</div>
				<div class="c-flex-container__item" style="width: 70%;">
					<h3 class="c-user-list__item__name">{{name}}</h3>
					{{#if contactNo}}
					<strong>M: </strong>{{contactNo}} | 
					{{/if}}
					<strong>E: </strong>{{email}}
				</div>
				<div class="c-flex-container__item" style="width: 20%;">
					<a href="/users/{{id}}" class="[ btn btn-small btn-primary ] view-detail" data-user-id="{{id}}"><i class="icon ion-eye"></i></a>
					<a href="javascript:;" class="[ btn btn-small btn-primary ] delete-user" data-user-id="{{id}}"><i class="icon ion-trash-a"></i></a>
				</div>
			</li>
			{{/each}}
		</ul>
	</script>
	<!-- END : TEMPLATES -->

</body>

</html>