html {
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.8;
	color: #3c4a53;
}

.full-bg {
	position: fixed;
	z-index: -1;
	top:0;
	left:0;
	bottom:0; 
	right:0;
	background-image: url(../images/16.jpg);
	background-size: cover;
}
/*
.c-login, .c-register {
	background-color: rgba(0,0,0,0.3);
}*/
.c-user-form {
	margin: 0 auto;
	margin-bottom: 2em;
	background-color: #FFF;
	box-shadow: 1px 0px 15px 0px rgba(0,0,0,0.1);
	width: 450px;
	border: 1px solid #cccfe2;
}
.c-user-form__title, .c-user-form__title + p {
	line-height: normal;
	font-weight: 100;
	color: #3c4a53;
}
.c-user-form__title {
	font-size: 3em;
}
.c-user-form__title + p {
	margin-bottom: 1em;
	color: #7c8f9d;
	font-size: 1.5em;
}
.c-user-form__form {
	padding: 4em;
}
.c-user-form label {
    display: block;
    width: 200px;
    padding: 5px 0;
	color: #999;
	display: none;
}
.c-user-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.c-user-list li {
	background-color: #FFF;
	border-radius: 3px;
	padding: 2em;
	margin: 1em 0;
	border: 1px solid #cccfe2;
	justify-content: space-between;
}

.c-user-list li:hover {
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.2s linear;
}
.c-user-list li .c-user-list__item__name {
	font-size: 16px;
}
.c-user-image {
    background-color: #CCC;
    display: inline-block;
    border-radius: 100%;
	vertical-align: middle;
	overflow: hidden;
	position: relative;
	margin-right: 1em;
}
.c-user-image--small {
	width: 60px;
    height: 60px;
}
.c-user-image--medium {
	width: 120px;
    height: 120px;
}
.c-user-image--small img {
    position: absolute;
    height: 150%;
    left: -16px;
    top: -10px;
    width: 150%;
	max-width: inherit;
}
.c-user-image--medium img {
    position: absolute;
    height: 150%;
    left: -30px;
    top: -20px;
    width: 150%;
    max-width: inherit;
}

/**
 * USER PROFILE
 */
 header {
	padding: 10px 5px;
	background-color: #FFF;
	/*box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);*/
	margin-bottom: 4em;
}
.container-fixed {
	max-width: 1140px;
    width: 94%;
	margin: 0 auto;
}
 .container-fluid {
    width: 100%;
	margin: 0 auto;
 }

.c-user-profile { 
	margin: 0 auto;
}
.c-user-profile__header {
	background-image: linear-gradient(to right,#7b519f,#9e62c9);
	padding: 8em 0;
	color: #FFFFFF;
}
.c-user-profile__title { 
	margin: 0;
	padding: 1em 1.5em; 
	background-color: #3498db; 
	color: #FFF; 
}
.c-user-profile__detail {
	margin: 2em 0;
	padding: 2em;
	background-color: #FFFFFF;
	box-shadow: 1px 0px 15px 0px rgba(0,0,0,0.2);
	/*border: 1px solid #cccfe2;*/
	line-height: 2;
	margin-top: -60px;
}
.c-user-profile__detail h3 { font-size: 1.5em; font-weight: 300; border-bottom: 1px solid #cccfe2; margin-bottom: 1em; padding: 1em 0; line-height: normal; }
.c-user-profile__detail p { padding: 5px; }
.c-user-profile__detail strong { display: inline-block; width: 14em; }
/**
 * BUTTONS
 */
.btn, button {
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	line-height: normal;	
	border: 0px solid #1577b9;
	border-radius: 3px;
	text-transform: uppercase;
	color: #3c4a53;
	text-decoration: none;
	cursor: pointer;
}
.btn i, button i {
	font-size: 24px;
}
.btn-small {
	padding: 5px 15px;
}
.btn-medium {
	padding: 10px 20px;
	font-size: 15px;
}
.btn-large {
	padding: 15px 25px;
	font-size: 18px;
}
.btn-primary {
	border: 1px solid #3498db;
	color: #3498db;
}
.btn-primary:hover {
	color: #FFF;
	background-color: #3498db;
	border: 1px solid #1577b9;
}
.btn-dark {
	background-color: #3c4a53;
	color: #95abb9;
}
.btn-dark:hover {
	background-color: #2196F3;
	color: #FFF;
}
.btn-full {width: 100%;}
.btn-grd1 {
	color: #FFF;
	background: #ba66a1;
background: -moz-linear-gradient(left, #ba66a1 0%, #325dbc 100%);
background: -webkit-linear-gradient(left, #ba66a1 0%,#325dbc 100%);
background: linear-gradient(to right, #ba66a1 0%,#325dbc 100%);
}
/**
 * GLOBAL STYLE
 */
a { 
	text-decoration: none;
	color: #2196F3;
}
a:hover {
	color: #3c4a53;
}
* { 
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h3 { margin: 0;}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	padding: 10px;
	border: 1px solid transparent;
	border-bottom: 2px solid #cccfe2;
	font-size: 1.2em;
    /*box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1) inset;*/
}
input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover, input[type="tel"]:hover,
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="tel"]:focus {
    background-color: #FFFFFF;
    border: 1px solid #cccfe2;
	border-bottom: 2px solid #cccfe2;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="tel"]:focus {
	box-shadow: 0 0px 7px 0px rgba(0,0,0,0.2) inset;
}
.form-group { padding: 10px 0;}

input:required {
    
}
.help { display: none; font-style: italic;}
input:focus + .help {
    display:inline-block;
}
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
/*==================================================
	UTILITY CLASSES
====================================================*/
.tc { text-align: center; }
.tr { text-align: right; }
.fl { 
	float: left;
}
.fr {
	float: right;
}
.fh {
	height: 100vh;
}
.tu {
	text-transform: uppercase;
}
.no-border, input.no-border, input.no-border:hover, input.no-border:focus {border: 0px solid;}
.no-margin { margin: 0; }
.no-padding { padding: 0; }
.hidden { display: none; }
/* CSS CLEARFIX
------------------------------------------------------------*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.c-flex-container { 
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.c-user-list .c-flex-container {
	flex-direction: row;
}
.c-user-profile .c-flex-container {
	flex-direction: row;
}
.c-flex-container__item {flex-grow: 0;}
.c-flex-container--left {justify-content: flex-start;}
.c-flex-container--right {justify-content: flex-end;}
.c-flex-container--space-around {justify-content: space-around;}
.c-flex-container--space-between {justify-content: space-between;}
/* GRADIENTS
------------------------------------------------------------*/
.grd1 {
	background: #e570e7;
	background: radial-gradient(ellipse at center, #e570e7 0%,#7267ea 100%);
	background-repeat: no-repeat;
}
.grd2 {
	/*background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),
	linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%);*/
	background: linear-gradient(135deg, #e8eaf6 0%, #ffffff 100%);
}
.grd3 {
	background: linear-gradient(to right, #f88783 0%,#ffa392 50%,#ff88a4 100%);
	color: #FFF;
}
.grd1-b {
	border-left: 3px solid #3ACFD5;
	border-right: 3px solid #3a4ed5;
	background-position: 0 0, 0 100% ;
	background-repeat: no-repeat;
	background-size: 100% 3px;
	background-color: #FFF;
	background-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%), linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%);
}
.grd2-b {
	border-left: 3px solid #e570e7;
	border-right: 3px solid #7267ea;
	background-position: 0 0, 0 100% ;
	background-repeat: no-repeat;
	background-size: 100% 3px;
	background-color: #FFF;
	background-image: linear-gradient(to right, #e570e7 0%, #7267ea 100%), linear-gradient(to right, #e570e7 0%, #7267ea 100%);
}

.c-alert {
    padding: 20px;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
	color: white;
}

.c-alert--error {color: #D8000C; background-color: #FFBABA;}
.c-alert--success {color: #4F8A10; background-color: #DFF2BF;}
.c-alert--info {color: #00529B; background-color: #BDE5F8;}
.c-alert--warning {color: #9F6000; background-color: #FEEFB3;}

.c-alert__closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert__closebtn:hover {
    color: black;
}
/*
.alert { padding: 5px; margin-top: 5px; margin-bottom: 5px;}
.alert-error {
	background: #fa6a64;
    color: #fff;
    border: 1px solid #D05651;
	text-align: center;
}
.alert-success {
	background: green;
    color: #fff;
    border: 1px solid green;
	text-align: center;
}*/
.c-header {
	display: table;
}
.c-header > * {display: table-cell;}
.icon { font-family: "Ionicons";}
/* DROPDOWN */
.nav__item:hover .dropdown {
	transform:translate3d(-50%,10px,0) rotateX(0);
	display:block
}
.dropdown {
	width:500px;
	position:absolute;
	z-index:99999;
	top:100%;
	text-align:left;
	left:50%;
	transform:translate3d(-50%,10px,0);
	display:none;
	padding-top:10px;
	margin-top:-10px
}
@media only screen and (max-width: 720px) {
	.dropdown {
		display:none
	}
}
.dropdown:before {
	position:absolute;
	top:0px;
	left:50%;
	width:0;
	height:0;
	border-style:solid;
	border-width:0 10px 10px 10px;
	border-color:transparent transparent #fff transparent;
	content:' ';
	z-index:3;
	-webkit-transform:translate3d(-50%,0,0);
	transform:translate3d(-50%,0,0)
}
.dropdown__list {
	background:#fff;
	border-radius:4px;
	overflow:hidden;
	box-shadow:0 50px 100px rgba(50,50,93,0.1),0 15px 35px rgba(50,50,93,0.15),0 5px 15px rgba(0,0,0,0.1);
	position:relative;
	padding:0;
	z-index:1
}
.dropdown__item {
	list-style:none
}
.dropdown__item:first-child .nav__link {
	padding-top:30px
}
.dropdown__item:last-child .nav__link {
	padding-bottom:30px
}
.dropdown__link {
	border-bottom:1px solid #383e4a;
	display:block;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	padding:20px 35px;
	-webkit-box-align:start;
	-webkit-align-items:flex-start;
	-ms-flex-align:start;
	align-items:flex-start;
	color:#6a7589
}
.dropdown__link:hover {
	color:#2e3746
}
.nav--primary .dropdown__link {
	padding:12px 20px
}
.dropdown__link:last-child {
	border-bottom:none
}
.dropdown__link__info {
	font-size:14px;
	font-weight:300
}
.no-flex .dropdown__link__info {
	width:70%
}
.dropdown__link__info p {
	margin:4px 0
}
.dropdown__link__title {
	margin:0;
	font-size:18px;
	line-height:22px;
	text-transform:uppercase;
	letter-spacing:.025em;
	font-size:15px;
	font-weight:500;
	color:#2e3746
}
.dropdown__link img {
	position:relative;
	margin-right:35px;
	-webkit-box-flex:0;
	-webkit-flex:0 0 60px;
	-ms-flex:0 0 60px;
	flex:0 0 60px;
	width:60px;
	height:60px;
	top:4px
}