html {
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.8;
}
.main-body {
	width: 80%;
	margin: 0 auto;
}
.full-bg {
	position: fixed;
	z-index: -1;
	top:0;
	left:0;
	bottom:0; 
	right:0;
	background-image: url(../images/16.jpg);
	background-size: cover;
}
.c-login, .c-register {
	background-color: rgba(0,0,0,0.3);
}
.c-user-form {
	margin: 0 auto;
	margin-bottom: 2em;
	background-color: #FFF;
	box-shadow: 1px 0px 20px 4px rgba(0,0,0,0.2);
	width: 400px;
}
.c-user-form__title {
	font-weight: 300;
	color: #CCC;
    background-color: #323a45;
    padding: 0.2em 1em;
}
.c-user-form__form {
	padding: 2em;
}
.c-user-form label {
    display: block;
    width: 200px;
    padding: 5px 0;
	color: #999;
}
.c-user-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.c-user-list li {
	border: 1px solid #CCC;
	padding: 1em;
	margin-bottom: 1.5em;
}

.c-user-list li:hover {
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
	transition: all 0.2s linear;
}
.c-user-list li .c-user-list__item__name {
	font-size: 16px;
}
.c-user-list li .c-user-image {
    background-color: #CCC;
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 100%;
	vertical-align: middle;
}
/**
 * USER PROFILE
 */
.user-profile { 
	width: 400px; 
	border: 1px solid #3498db; 
	margin: 0 auto; 
}
.user-profile__title { 
	margin: 0;
	padding: 1em 1.5em; 
	background-color: #3498db; 
	color: #FFF; 
}
.user-profile__detail { 
	padding: 1.5em; 
}
header {
	border-bottom: 1px solid #CCC;
	padding: 5px;
}
.container-fixed {
	width: 80%;
	margin: 0 auto;
}
/**
 * BUTTONS
 */
.btn, button {
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	line-height: normal;	
	border: 0px solid #1577b9;
	border-radius: 3px;
	text-transform: uppercase;
}
.btn-small {
	padding: 5px 15px;
}
.btn-medium {
	padding: 10px 20px;
	font-size: 15px;
}
.btn-large {
	padding: 15px 25px;
	font-size: 18px;
}
.btn-primary {
	border: 1px solid #3498db;
}
.btn-primary:hover {
	color: #FFF;
	background-color: #3498db;
	border: 1px solid #1577b9;
}
.btn-full {width: 100%;}
.btn-grd1 {
	color: #FFF;
	background: #ba66a1;
background: -moz-linear-gradient(left, #ba66a1 0%, #325dbc 100%);
background: -webkit-linear-gradient(left, #ba66a1 0%,#325dbc 100%);
background: linear-gradient(to right, #ba66a1 0%,#325dbc 100%);
}
/**
 * GLOBAL STYLE
 */
a { 
	text-decoration: none;
}
* { 
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h3 { margin: 0;}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1) inset;
}
.form-group { padding: 5px 0;}
/**
 * UTILITY CLASSES
 */
.tc { text-align: center; }
.tr { text-align: right; }
.fl { 
	float: left;
}
.fr {
	float: right;
}
.fh {
	height: 100vh;
}
.tu {
	text-transform: uppercase;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.c-flex-container { 
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.c-flex-container__item {flex-grow: 0;}
.grd1 {
	background: #e570e7;
background: -moz-radial-gradient(center, ellipse cover, #e570e7 0%, #7267ea 100%);
background: -webkit-radial-gradient(center, ellipse cover, #e570e7 0%,#7267ea 100%);
background: radial-gradient(ellipse at center, #e570e7 0%,#7267ea 100%);
background-repeat: no-repeat;
}
.alert { padding: 5px; margin-top: 5px; margin-bottom: 5px;}
.alert-error {
	background: #fa6a64;
    color: #fff;
    border: 1px solid #D05651;
	text-align: center;
}
.alert-success {
	background: green;
    color: #fff;
    border: 1px solid green;
	text-align: center;
}