<!--<div class="full-bg"></div>-->
<header class="grd3">
	<div class="container-fixed cf c-header">
		<strong>EMPBOOK</strong>
		<input type="text" value="" name="searchUser" id="searchUser" placeholder="Search user by Name" />
		<div class="tr">
			<div class="nav__item" style="position: relative">
				<a href="/logout" class="btn btn-small">Logout</a>
				<!-- START :: DROPDOWN -->
				<nav class="dropdown">
					<ul class="dropdown__list">
						<li class="dropdown__item">
							<a href="/courses/#course=angularjs" class="nav__link dropdown__link">
								<div class="dropdown__link__info">
									<h2 class="dropdown__link__title">AngularJS</h2>
									<p>
										AngularJS 1.5+ courses, the most comprehensive online courses on the web.
									</p>
								</div>
							</a>
						</li>
						<li class="dropdown__item">
							<a href="/courses/#course=angular" class="nav__link dropdown__link">
								<div class="dropdown__link__info">
									<h2 class="dropdown__link__title">Angular</h2>
									<p>
										Angular 2+ courses, build next generation applications, beginner to master.
									</p>
								</div>
							</a>
						</li>
						<li class="dropdown__item">
							<a href="/courses/#course=typescript" class="nav__link dropdown__link">
								<div class="dropdown__link__info">
									<h2 class="dropdown__link__title">Typescript</h2>
									<p>
										Learn TypeScript, use it with any framework to write scalable JavaScript.
									</p>
								</div>
							</a>
						</li>
					</ul>
				</nav>
				<!-- END :: DROPDOWN -->
			</div>
		</div>
	</div>
</header>

<section class="user-profile">
	<h3 class="user-profile__title">{{name}}</h3>
	<div class="user-profile__detail">
		<p><strong>Email : </strong>{{email}}</p>
		<p><strong>Phone : </strong>{{contactNo}}</p>
		<p class="tc"><a href="/users" class="btn btn-medium btn-primary" data-user-id="{{_id}}">Back To List View</a></p>
	</div>
</section>